* {
  margin: 0;
  padding: 0;
  touch-action: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#Ind {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Ind header {
  width: 100%;
  height: 50px;
  display: flex;
}

#Ind header .h3 {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Ind header .h3 h2 {
  color: #ffa800;
}

#Ind header div {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Ind header div input {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: 0;
  background: #ccc;
}

#Ind header span {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa800;
  font-size: 14px;
}

#Ind .content {
  width: 100%;
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

#Ind footer {
  width: 100%;
  height: 44px;
  background: #ccc;
}

.icon {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.icon .d1 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon .d1 .s1 {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: palevioletred;
}

.icon .d1 .s2 {
  margin-top: 10px;
}

.news {
  width: 100%;
  height: 155px;
  border-bottom: 1px solid #ccc;
}

.news .newsshang {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.news .newsshang p {
  margin-left: 11px;
  font-size: 18px;
}

.news .newsxia {
  display: flex;
  width: 100%;
  height: 115px;
}

.news .newsxia .imgdiv {
  flex: 4;
  width: 130px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.news .newsxia .imgdiv img {
  width: 130px;
  height: 90px;
}

.news .newsxia .textdiv {
  flex: 6;
}
