* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  width: 100%;
  height: 44px;
  background: palegreen;
}

.hea {
  width: 100%;
  height: 44px;
  display: flex;
}

.hea span {
  flex: 1;
  border: 1px solid #ccc;
  line-height: 44px;
  text-align: center;
}

.heas {
  width: 100%;
  height: 44px;
  background: coral;
}

.icon {
  width: 100%;
  height: 150px;
  background: palevioletred;
  display: flex;
  flex-wrap: wrap;
}

.icon .icon-item {
  width: 25%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon .icon-item .s1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #be6913;
}

.list {
  width: 100%;
  height: 120px;
  background: burlywood;
  margin-top: 10px;
  display: flex;
}

.list .listzuo div {
  width: 100px;
  height: 100px;
  background: chartreuse;
}

.da {
  width: 100%;
  height: 550px;
  background: chartreuse;
  display: flex;
  overflow: hidden;
}

.da .zuo {
  width: 120px;
  height: 100%;
  background: chocolate;
}

.da .zuo ul {
  width: 100%;
}

.da .zuo ul li {
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.da .you {
  flex: 1;
  height: 100%;
}

.da .you .yaa {
  width: 100%;
  height: 120px;
  background: crimson;
  margin-top: 10px;
  display: flex;
}

.da .you .yaa .zuos div {
  width: 80px;
  height: 80px;
  background: cyan;
}

.ac {
  background: cornflowerblue;
  color: #fff;
}

.ding {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: darkmagenta;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 60px;
  color: #fff;
  text-align: center;
}

.dizhi {
  width: 100%;
  height: 120px;
  background: cornflowerblue;
  margin-top: 5px;
}

.nav {
  width: 100%;
  height: 44px;
  background: #19c776;
  display: flex;
}

.nav span {
  flex: 1;
  line-height: 44px;
  text-align: center;
}
