* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zhongjian {
  width: 100%;
  height: 580px;
  overflow: auto;
}

header {
  width: 100%;
  height: 44px;
  background: rgb(17, 179, 66);
  display: flex;

  span {
    // display: flex;
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 44px;
  }
}

.footer {
  width: 100%;
  height: 44px;
  background: rgb(20, 211, 185);
  display: flex;

  span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  width: 100%;
  height: 183px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  .icon-item {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .s1 {
      width: 44px;
      height: 44px;
      background: palevioletred;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .s2 {
      margin-top: 10px;
      color: #666;
    }
  }
}

.tabs {
  width: 100%;
  height: 44px;
  background: palevioletred;
  display: flex;

  span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: #fff;
  }
}

.list {
  width: 100%;
  height: 133px;
  // background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  .imgs {
    flex: 3;
    // width: 103px;
    height: 103px;
    background: palevioletred;
    margin-left: 12px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .txt {
    flex: 7;

    h2 {
      margin-left: 12px;
      margin-bottom: 30px;
    }

    span {
      margin-left: 12px;
    }

    .qian {
      font-size: 20px;
      color: palevioletred;
    }

    .jia {
      color: #666;
    }

    .jingqu {
      display: inline-block;
      width: 80px;
      height: 20px;
      border-radius: 50px;
      background: palevioletred;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      color: #fff;
    }
  }
}

.ac {
  color: #fff;
  font-size: 16px;
}

.aa {
  color: red;
}

.d-img {
  width: 100%;
  height: 120px;

  img {
    width: 100%;
    height: 200px;
  }
}

.jing {
  margin-top: 80px;
  width: 100%;
  height: 60px;
  background: palevioletred;
  display: flex;

  .jing-zuo {
    flex: 5;
    background: peachpuff;
  }

  .jing-you {
    flex: 5;
    background: olivedrab;
  }
}

.aa1 {
  width: 100%;
  height: 100px;
  background: orange;
  margin-top: 10px;
}

.lun {
  width: 100%;
  height: 60px;
  background: palevioletred;
  margin-top: 5px;
  display: flex;

  div {
    flex: 5;

    p {
      color: rgb(10, 17, 121);
    }

    h3 {
      color: rgb(238, 234, 13);
    }
  }

  button {
    width: 100px;
    height: 30px;
    background: chocolate;
    border: 0;
    color: rgb(13, 231, 231);
    margin: 10px;
  }
}

.yamaxun {
  width: 100%;
  height: 579px;
  display: flex;

  .zuo {
    width: 120px;
    height: 100%;
    background: peru;
    overflow: hidden;
    ul {
      width: 100%;
      li {
        height: 80px;
        line-height: 80px;
        text-align: center;
      }
    }
  }

  .you {
    flex: 1;
    background: plum;
    overflow: hidden;
    h2 {
      margin-left: 10px;
      div {
        height: 80px;
        border-bottom: 1px solid #000;
      }
      i {
        font-size: 13px;
      }
      p {
        margin-left: 20px;
        font-size: 13px;
        margin-top: 40px;
      }
    }
  }
}
.yama {
  color: #fff;
  background: #000;
}

.yu {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 20px;

  .zuo {
    flex: 6;

    p:nth-child(2) {
      color: orange;
    }

    p:nth-child(3) {
      color: #ccc;
    }

    span {
      border: 1px solid orange;
    }
  }

  .you {
    flex: 4;

    h1 {
      color: orange;
    }

    span {
      display: inline-block;
      width: 60px;
      height: 20px;
      border-radius: 20px;
      background: greenyellow;
      text-align: center;
      line-height: 20px;
    }
  }
}
