* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zhongjian {
  width: 100%;
  height: 580px;
  overflow: auto;
}

header {
  width: 100%;
  height: 44px;
  background: #11b342;
  display: flex;
}

header span {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 44px;
}

.footer {
  width: 100%;
  height: 44px;
  background: #14d3b9;
  display: flex;
}

.footer span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100%;
  height: 183px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.icon .icon-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon .icon-item .s1 {
  width: 44px;
  height: 44px;
  background: palevioletred;
  border-radius: 50%;
}

.icon .icon-item .s1 img {
  width: 100%;
  height: 100%;
}

.icon .icon-item .s2 {
  margin-top: 10px;
  color: #666;
}

.tabs {
  width: 100%;
  height: 44px;
  background: palevioletred;
  display: flex;
}

.tabs span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .imgs {
  flex: 3;
  height: 103px;
  background: palevioletred;
  margin-left: 12px;
}

.list .imgs img {
  width: 100%;
  height: 100%;
}

.list .txt {
  flex: 7;
}

.list .txt h2 {
  margin-left: 12px;
  margin-bottom: 30px;
}

.list .txt span {
  margin-left: 12px;
}

.list .txt .qian {
  font-size: 20px;
  color: palevioletred;
}

.list .txt .jia {
  color: #666;
}

.list .txt .jingqu {
  display: inline-block;
  width: 80px;
  height: 20px;
  border-radius: 50px;
  background: palevioletred;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
}

.ac {
  color: #fff;
  font-size: 16px;
}

.aa {
  color: red;
}

.d-img {
  width: 100%;
  height: 120px;
}

.d-img img {
  width: 100%;
  height: 200px;
}

.jing {
  margin-top: 80px;
  width: 100%;
  height: 60px;
  background: palevioletred;
  display: flex;
}

.jing .jing-zuo {
  flex: 5;
  background: peachpuff;
}

.jing .jing-you {
  flex: 5;
  background: olivedrab;
}

.aa1 {
  width: 100%;
  height: 100px;
  background: orange;
  margin-top: 10px;
}

.lun {
  width: 100%;
  height: 60px;
  background: palevioletred;
  margin-top: 5px;
  display: flex;
}

.lun div {
  flex: 5;
}

.lun div p {
  color: #0a1179;
}

.lun div h3 {
  color: #eeea0d;
}

.lun button {
  width: 100px;
  height: 30px;
  background: chocolate;
  border: 0;
  color: #0de7e7;
  margin: 10px;
}

.yamaxun {
  width: 100%;
  height: 579px;
  display: flex;
}

.yamaxun .zuo {
  width: 120px;
  height: 100%;
  background: peru;
  overflow: hidden;
}

.yamaxun .zuo ul {
  width: 100%;
}

.yamaxun .zuo ul li {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.yamaxun .you {
  flex: 1;
  background: plum;
  overflow: hidden;
}

.yamaxun .you h2 {
  margin-left: 10px;
}

.yamaxun .you h2 div {
  height: 80px;
  border-bottom: 1px solid #000;
}

.yamaxun .you h2 i {
  font-size: 13px;
}

.yamaxun .you h2 p {
  margin-left: 20px;
  font-size: 13px;
  margin-top: 40px;
}

.yama {
  color: #fff;
  background: #000;
}

.yu {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 20px;
}

.yu .zuo {
  flex: 6;
}

.yu .zuo p:nth-child(2) {
  color: orange;
}

.yu .zuo p:nth-child(3) {
  color: #ccc;
}

.yu .zuo span {
  border: 1px solid orange;
}

.yu .you {
  flex: 4;
}

.yu .you h1 {
  color: orange;
}

.yu .you span {
  display: inline-block;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  background: greenyellow;
  text-align: center;
  line-height: 20px;
}
